.banner{
    height: 550px;
    object-fit: contain;
}

.banner-content{
    padding-top: 350px;
    margin-left: 20px;
    text-align: center;
}

.banner-title{
    font-size: 40px;
    font-weight: 800;
}

.banner-des{
    line-height: 1.6;
}